<loader *ngIf="isLoading"></loader>
<!-- Choose the state -->
<select (change)='onOptionsSelected($event)'>
    <option value="all">All State</option>
    <option *ngFor="let item of filterArr" value={{item}}>{{item}}</option>
</select>
<agm-map [latitude]='lat' [longitude]='long'>
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng">
        <agm-info-window #infoWindow>
            {{ marker.label }}
        </agm-info-window>
    </agm-marker>
</agm-map>