#divLoading
{
    display: block;
    position: fixed;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}
#divLoading:after {
    content: "";
    position: fixed;
    z-index: 1;
    background-color: #666;
    opacity: 0.4;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}
.ring img {
  width: 90%;
}
.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  background: #f4f4f4;
  /* border: 3px solid #3c3c3c; */
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-family: sans-serif;
  font-size: 20px;
  color: #0b2a5e;
  /* letter-spacing: 4px; */
  text-shadow: 0 0 10px #2d426d;
  /* box-shadow: 0 0 20px rgba(0,0,0,.5); */
  z-index: 99999;
}
.ring:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #000000;
  border-right: 3px solid #2d426d;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}
span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin:left;
  animation: animate 2s linear infinite;
}
span:before {
  content:'';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #2d426d;
}

 @keyframes animateCircle
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform: rotate(45deg);
  }
  100%
  {
    transform: rotate(405deg);
  }
}